
body{
    margin: 0%;
    padding: 0%;
    
    
}

a{
    text-decoration: none;
        color: #fff;
}
.header{
    width: 100%;
    height: 25vh;
    background-color: #f3eeed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: inset rgb(102, 98, 98) 2px 2px 10px ;
}

.main{
   width: 100%;
  margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
   flex-wrap: wrap;
}
.info{
    line-height: 2rem;
    margin-top: 3%;
    width: 100%;
    text-align: center;
    color: rgb(37, 37, 37);
    font-weight: 600;
    font-family:  'Arial Narrow', Arial, sans-serif;
}

.new-version,
.old-version{
cursor: pointer;
    border: 1px solid rgb(245, 103, 78);
    border-radius: 5px;
    padding: 10px 20px;
    background-color: tomato;
    font-weight: 600;

    box-shadow: rgb(102, 98, 98) 2px 2px 10px ;

}

.new-version:hover{
background-color: rgb(0, 32, 107);
transition: all .3s ease-in-out;
}
.old-version:hover{
background-color: #5262f7ce;
transition: all .3s ease-in-out;
}